.content {
  position: relative;

  /* align-items: flex-start; */
  display: flex;
}

.content__img {
  height: calc(100vh - 3rem);
  left: 0;
  position: fixed;
  margin: 3rem 0 0;
}

.informations {
  color: #FFFFFF;
  margin: 2.5rem 0 0;
  padding: 0 1rem;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: calc(100vh - 5.5rem);
}

.user {
  margin: 3rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__input {
  background: transparent;
  border: 1px solid #999999;
  border-radius: 1rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  margin: 0 1rem 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.user__button {
  background: #2D3338;
  border: 1px solid #999999;
  border-radius: 0.5rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  margin: 1rem 0 0;
  padding: 0.25rem 0.5rem;
}

.user__button:hover {
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

.profile {
  margin: 2rem 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile__img {
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  margin: 0 3rem 0 1.5rem;
  width: 10rem;
}

.profile__title {
  color: #999999;
  font-size: 1.5rem;
  margin: 0;
}

.profile__user {
  color: #999999;
  font-size: 1.2rem;
  margin: 0.5rem 0 0;

  display: block;
}

.profile__description {
  color: #999999;
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
}

.repositories__title {
  color: #FFFFFF;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}


@media screen and (min-width: 800px) {
.content {
  justify-content: flex-end;
}

.informations {
  margin: 2.5rem 4rem 0 0;
  width: 60%;
}

.user {
  min-width: 12rem;

  flex-direction: row;
  justify-content: flex-end;
}

.user__button {
  margin: 0;
}

}
