.grid {
  background-color: #999999;
  margin: 0 0 1rem;
  text-align: center;
}

.grid__input {
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.6rem 0;
  padding: 0.1rem 0 0.1rem 0.5rem;
  width: 15rem;
}

.k-grid-header {
  border-top: 2px solid #FFFFFF;
  text-align: center;
}

.k-column-title {
  font-size: 1.5rem;
}

.grid__collumn--name {
  background-color: #2D3338;
  color: #539BF5;
  padding: 1rem;
}

.grid__collumn--description {
  background-color: #2D3338;
  color: #FFFFFF;
  padding: 1rem;
}